[Unit]
Description=Wiren Board journald to MQTT gateway
Wants=wb-hwconf-manager.service wb-modules.service
After=network.target wb-hwconf-manager.service wb-modules.service mosquitto.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/wb-mqtt-logs

[Install]
WantedBy=multi-user.target